html {
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", sans-serif;
  padding: 0;
  margin: 0;
}
.img_logo{
  width: 11%;
  height: 11%;
}
nav {
  background-color: #111;
  color: rgb(234, 205, 60);
}

.navTop {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.search {
  display: flex;
  align-items: center;
  background-color: gray;
  padding: 10px 20px;
  border-radius: 10px;
}

.searchInput {
  border: none;
  background-color: transparent;
}
.reference-card {
  width: 300px;
  border: 2px solid #333;
  border-radius: 8px;
  overflow: hidden;
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  font-family: Arial, sans-serif;
}

.reference-header {
  background-color: #444;
  color: #f9f9f9;
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
  align-items: center;
  cursor: pointer;
}

.reference-info {
  display: none;
  padding: 15px;
  background-color: #f3f3f3;
  color: #333;
}

.reference-card:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.reference-card a {
  text-decoration: none;
  color: #0056b3;
  font-weight: bold;
  margin-top: 10px;
  display: inline-block;
}

.toggle-info {
  background: none;
  border: none;
  color: #f9f9f9;
  font-size: 20px;
  cursor: pointer;
}
.referencias{
  display: flex;
  align-items: center;
  justify-content: center;
}
.searchInput::placeholder {
  color: lightgray;
}

.navBottom {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menuItem {
  margin-right: 50px;
  cursor: pointer;
  color: lightgray;
  font-weight: 400;
}

.slider {
  background-color: #369e62;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
  overflow: hidden;
}

.sliderWrapper {
  display: flex;
  width: 500vw;
  transition: all 1.5s ease-in-out;
}

.sliderItem {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.sliderBg {
  width: 750px;
  height: 750px;
  border-radius: 50%;
  position: absolute;
}

.sliderImg {
  z-index: 1;
}

.sliderTitle {
  position: absolute;
  top: 10%;
  right: 10%;
  font-size: 60px;
  font-weight: 900;
  text-align: center;
  color: rgb(237, 249, 4);
  z-index: 1;
}

.features {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.featureIcon {
  width: 50px;
  height: 50px;
}

.featureTitle {
  font-size: 20px;
  font-weight: 600;
  margin: 20px;
}

.featureDesc {
  color: gray;
  width: 50%;
  height: 100px;
}

.kanban-board {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.column {
  width: 200px;
  padding: 10px;
  background-color: #f4f4f4;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  color: #333;
}

.item-container {
  min-height: 200px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
}

button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #555;
}

footer {
  background-color: #020202;
  color: #fff;
  padding: 20px;
  text-align: center;
}

footer h3 {
  margin: 0;
  font-size: 18px;
}

footer a {
  color: #fff;
  font-size: 24px;
  margin: 0 10px;
  text-decoration: none;
}

footer a:hover {
  color: #dbe516;
}

@media screen and (max-width: 480px) {
  nav {
    padding: 20px;
  }

  .search {
    display: none;
  }

  .navBottom {
    flex-wrap: wrap;
  }

  .menuItem {
    margin: 20px;
    font-weight: 700;
    font-size: 20px;
  }

  .slider {
    clip-path: none;
  }

  .sliderImg {
    width: 90%;
  }

  .features {
    flex-direction: column;
  }
}
